@model SportShop.Models.Product

@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<style>
    td{
        
    }
    img{
        width:500px;
    }
    table{
       
        width:100%;
        font-family:Arial;
    }
        table img {
            width: 70%;
            object-fit: cover;
            height: 100%;
            border: 1px solid #d2d1d1;
            padding:0 10%;
        }
    .info{
        width:30%;
        
        border-bottom:1px solid #d2d1d1;
    }
   
    .thumbnail {
        text-align: center;
        
    }
    .description{
        height:40%;
    }

    .price {
        margin: 10px 20px;
        width: 30%;
        
    }
    .price-container {
        border-bottom: 1px solid #d2d1d1;
    }
    .price p {
        width: 100%;
        font-size: large;
        background-color: #b9b4b4;
        padding: 5px 10px;
        border-radius: 5px;
    }
    .description {
        text-align: center;
        border-top: 1px solid #d2d1d1;
        
    }
    .BuyNowBTn button{
        border:none;
        background-color:darkblue;
        color:white;
        padding:5px 10px;
        border-radius:2px;
        font-size:larger;
    }
    .BuyNowBTn {
        border: 1px solid #d2d1d1;
        border-radius:5px
    }
    
</style>
<div>
    <div style="width:100%;text-align:center"><h2 style="margin-top:100px; font-family:Arial;color:darkblue">THÔNG TIN SẢN PHẨM</h2></div>
    
    <table class="col-lg-12 col-sm-12 col-md-12">
        <tr>
            <td class="thumbnail" rowspan="5"><img src=@Html.DisplayFor(model => model.ImagePro) alt="Alternate Text" /></td>
            <td class="info">
                <h1>@Html.DisplayFor(model => model.NamePro)</h1>
                <p style="font-style:italic;color:grey">@Html.DisplayFor(model=>model.Category)</p>
            </td>
        </tr>
        <tr>
            <td class="price-container">
                <div class="price"><p>@Html.DisplayFor(model => model.Price)0đ</></div>
            </td>
        </tr>
        <tr class="Size">
            <td><p>@Html.DisplayFor(model => model.Size)</p></td>
        </tr>
        <tr >
            <td class="description" >
                <h2> @Html.DisplayFor(model => model.DecriptionPro)</h2>
                
            </td>
           
        </tr>
        <tr style="text-align:center">
            <td class="BuyNowBTn"><button>ADD TO CART</button></td>
        </tr>
    </table>
       
</div>
<p>
   
</p>
